<div id="contact" class="contact">
    <h2>Skontaktuj się z nami</h2>
    <h3>Formularz kontaktowy</h3>
    <form class="form--contact" action ="{% url 'send_contact'%}" method="get" id='location_form'> 
        <!-- action ="{% url 'send_contact'%}"   -->
        <div class="form-group form-group--50"><input type="text" name="name" id='cnt_name' placeholder="Imię" /></div>
        <div class="form-group form-group--50"><input type="text" name="surname" id='cnt_surname' placeholder="Nazwisko" /></div>
        <div class="form-group"><textarea name="email" placeholder="Adres email" id='cnt_email' rows="1"></textarea></div>
        <div class="form-group"><textarea name="message" placeholder="Wiadomość" id='cnt_message' rows="5"></textarea></div>
        <button class="btn" type="submit">Wyślij</button>
    </form>
</div>


<script>
    $(document).ready(function () {     
        $(document).on('submit', '#location_form', function (event) {
            let name = $('#cnt_name').prop('value').length;
            let surname = $('#cnt_name').prop('value').length;
            let email = $('#cnt_name').prop('value').length;
            let message = $('#cnt_name').prop('value').length;
            
            if (name == '' || surname == '' || email == '' || message == ''  ) {
                Swal.fire({
                        title: 'Błąd!\n',
                        text: 'Uzupełnij wszystkie pola!'
                    }) 
                event.preventDefault();         
                return false;  
            } else {
                return True
            }
               
        }); 
    });
    // $(document).ready(function () {
    //     $('#submit_form').click(function(){
    //         if(form_is_valid()){
    //             $('#location_form').submit();
    //             }
    //         else {
    //             alert('Your message');
    //         }
    //     });
        // function _validateForm() {
        //     alert('Uzupełnij wszystkie dane!');
        // }

        // $('#contact').click(function(e){
        //     var id = $(this).attr('id');
        //     if (id == 'yes')
        //     {
        //         e.preventDefault();
        //         e.stopPropagation();
        //     }
        //     else
        //     {
        //         //redirect
        //     }
        // });

        // function IsFilled(value, message) {
        //         if (value === '') {
        //             Swal.fire({
        //                 title: 'Błąd!\n',
        //                 text: message
        //             });
        //         };
        //     };


        // $('#contact').click(fuction (), {
        //     let name = $('#cnt_name').prop('value');
        //     let surname = $('#cnt_name').prop('value');
        //     let email = $('#cnt_name').prop('value');
        //     let message = $('#cnt_name').prop('value');
        // });
    // });


</script>