{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="lodash.js"></script>
  </head>
  <body>


    {% block content %} {% endblock %}

    <footer>
      {% block extra_footer %} {% endblock %}

      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2021</span>
      </div>
    </footer>

    <script src="{% static 'js/app.js' %}?version=1"></script>
    <script src="{% static 'js/form.js' %}?version=1"></script>
  </body>
</html>
