{% extends "base.html" %}
{% load static %}

{% block title %} Potwierdzenie {% endblock %}
{% block extra_img %} {% endblock %}
{% block extra_header %}
    <div class="slogan container container--90">
        <h2>
            <br><br>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie informacje o odbiorze.
            <br><br><br><br><br><br><br><br><br><br><br>
        </h2>
    </div>
{% endblock %}
{% block extra_footer %}
  {% include '_contact-form.html' %}
{% endblock %}