{% extends "base.html" %}
{% load static %}

{% block title %} Zaloguj {% endblock %}
{% block extra_img %} {% endblock %}
{% block extra_header %} {% endblock %}

{% block content %}
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="#" method="POST">{% csrf_token %}
        {% if messages %}
        <div class="form-group">
        {% for m in messages %}
          <h1>{{ m }}<h1>
        {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            {% for e in form.non_field_errors %}
            <h1>{{ e }}</h1>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.first_name.errors }}
            {{ form.first_name }}
        </div>
         <div class="form-group">
            {{ form.last_name.errors }}
            {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.rep_password.errors }}
            {{ form.rep_password }}
        </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
{% endblock %}


{% block extra_footer %}
<div id="contact" class="contact">
  <h2>Skontaktuj się z nami</h2>
  <h3>Formularz kontaktowy</h3>
  <form class="form--contact">
    <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię" /></div>
    <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko" /></div>

    <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

    <button class="btn" type="submit">Wyślij</button>
  </form>
</div>
{% endblock %}
