{% extends "base.html" %}
{% load static %}

{% block title %} Zresetuj hasło {% endblock %}
{% block extra_img %} {% endblock %}
{% block extra_header %} {% endblock %}
{% block content %}
<section class="login-page">
  <h2>Zresetuj hasło</h2>
  <form action="" method="POST" novalidate> 
    {% csrf_token %}
    <!-- Messages -->
    {% if messages %}
      {% for m in messages %}
      <div class="form-group">
        <h1>{{ m }}</h1>
      </div>
      {% endfor %}
    {% else %}
    <div class="form-group">
      <h1>Wpisz email podany przy rejestracji by zresetować hasło:</h1>
    </div>
    {% endif %}
    <!-- Form -->
    <div class="form-group">
      {% for error in form.non_field_errors %}
      <h1>{{ error }}</h1>
      {% endfor %}
    </div>
    <div class="form-group form-group--buttons">
        {{ form.email }}
        <button class='btn' type='submit'>Resetuj hasło</button>
    </div>
  </form>
</section>
{% endblock %}


