{% extends "base_small.html" %}
{% load static %}

{% block title %} Zresetowano hasło {% endblock %}
{% block extra_img %} {% endblock %}
{% block extra_header %} {% endblock %}
{% block content %}
<section class="login-page">
  <h2>Hasło zmienione!</h2>
    <div class="form-group">
      <h1>Hasło zostało pomyślne zmienione, możesz teraz zalogować się z użyciem nowego hasła!
      </h1>
    </div>
    <div class='form-group'>
      <a href='/login/' class= 'btn'>Zaloguj się!</a>
    </div>
</section>
{% endblock %}


