{% extends "base.html" %}
{% load static %}

{% block title %} Zresetowano hasło {% endblock %}
{% block extra_img %} {% endblock %}
{% block extra_header %} {% endblock %}
{% block content %}
<section class="login-page">
  <h2>Hasło zostało zresetowane</h2>
    <div class="form-group">
      <h1>Link do zresetowania hasła został wysłany na wskazany adres email. 
        Gdyby wiadomość nie pojawiła się w ciągu kilku minut, sprawdź folder 
        Spam
      </h1>
    </div>
  </form>
</section>
{% endblock %}


